---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';


---

<Layout title="Home | List Check">
	<main class="container mx-auto p-16">
		<section class="pb-10">
			<h1 class="text-3xl font-sans font-normal">
				> Games List <span class="text-xl font-light">2024</span>
			</h1>
		</section>
		<section class="grid grid-cols-6 gap-4">
			<Card />
		</section>
	</main>
</Layout>