---
import Aside from '@/components/Aside.astro';
import Card from '@/components/Card.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Home | ALC">
	<main class="container mx-auto p-16">
		<h1>Inicio</h1>
	</main>
</Layout>